<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/utils.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/areas.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/subareas.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/data_dicts.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/section.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/order_manager.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/concrete_order_manager.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/storage_manager.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/product_type_manager.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/order_editor.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/url_creators.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/validators.js') }}"></script>

    <!-- <script src="{{ url_for('static',filename='scripts/storage_logic.js') }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='scripts/gui_updaters.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/element_creators.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/data_nodes_updaters.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/utils.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/validators.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/orders_logic.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/on_work_with.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/orders_utils.js') }}"></script> -->
    <title>B2B db admin</title>
</head>

<body onload="init()">
    <datalist id="available_types_on_supplier_storage">

    </datalist>
    <datalist id="available_types">

    </datalist>
    <datalist id="available_businesses">

    </datalist>


    <div class="menu">
        <button class="menu-item" onclick="storageManager.show()">
            Работа со складом
        </button>
        <button class="menu-item" onclick="orderManager.show()">
            Работа с заказами
        </button>
    </div>
    <div class="container">
        <div id='query_section' class="query_section">
            <form id='order_modification_section'>
                <h1>Изменение заказа</h1>
                <div id='specific_order_modification'>

                </div>
            </form>
            <div id="concrete_order_description_area" class="hidden">
                <div id="order_sides">

                </div>
                <div id="order_statistics">
    
                </div>    
            </div>
            <div id="specific_order_editing_area" class="hidden">
                <h1>Изменение заказа</h1>
                <form id="specific_order_editing_order_param">

                </form>
            </div>
            <div id='waiting' class="waiting"></div>
            <div id="product_managing_area" class="hidden">
                <h1>Актуальное количество заказаных единиц</h1>
                <br/>
                <br/>
                <br/>
                <br/>

                <h1>Установленный критический уровень</h1>
            </div>

            <div id="work_with_storage" class="hidden">
                <h1 name='storage_header'></h1>
                <div id="add_on_storage">
                    <h1>Добавить товары на склад </h1>
                    <form id="storage_name" onsubmit="storageManager.switchBusiness(event)" class="product_order">
                        <input list="available_businesses" type="text" name="active_storage" id="active_storage"
                            placeholder="Переключиться на бизнес ..." autocomplete="off" />
                        <input type="submit" value="Перейти">
                        <!-- <select name='active_storage' id='active_storage' onchange='activeStorageChanged(event)'> -->
                        <!-- <select name='active_storage' id='active_storage' onchange='activeStorageChanged(event)'>
                            <option value="new">Новый бизнес</option>
                        </select>
                        <div id="new_storage_name">
                            <input name="new_business_name" type="text" id="new_storage" placeholder="Название нового бизнеса" autocomplete="off">
                            <input type="submit" value="Добавить">

                        </div> -->
                    </form>
                    <form id="add_on_storage_form" onsubmit="storageManager.addProductToBusiness(event)">

                        <input type="text" name="producent" placeholder="Производитель" autocomplete="off">
                        <input type="text" name="serial_number" placeholder="Серийный номер" autocomplete="off">
                        <input type="text" name="model" placeholder="Модель" autocomplete="off">
                        <input type="text" name="type_name" placeholder="Тип товара" autocomplete="off"
                            list="available_types">
                        <!-- <select id='default_select_for_type' name="type_name" onchange="isUserInputForType(event)"> -->
                        <!-- <select id='default_select_for_type' name="type_name"> -->
                        <!-- <select id='default_select_for_type' name="type_name" onchange="isUserInputForType(event)">

                            <option value="default" selected="selected">Тип продукта</option>
                            <option value="new">Новый тип</option>
                        </select> -->
                        <!-- <input type="text" placeholder="Тип нового товара" id="new_type" name="type" autocomplete="off"> -->
                        <select name="product_condition">
                            <option value='true'>Исправное</option>
                            <option value='false'>Неисправное</option>
                        </select>
                        <textarea name="additional_info" id="" cols="30" rows="10"
                            placeholder="Дополнительная информация"></textarea>
                        <input class='submit action-button' type="submit" value="Добавить">
                    </form>
                </div>

            </div>
            <div id="order_creation" class="hidden">
                <div id="history_info_area" class="hidden">
                    <h1>Историческая справка</h1>
                </div>
                                
                <form class="hidden" class="form-container" class="action" id='orders_add' onsubmit="orderManager.addOrder(event)">
                    <h1 name='storage_header'></h1>
                    <h1 id='action_name_1'>Добавить новый заказ</h1>
                    <h4>Заказчик</h4>
                    <input type="text" name="clients_ids" list="available_businesses" placeholder="Заказчик"
                        autocomplete="off">
            <div class="product_order">
                <h4>Дата заказа</h4>
                <input id='order_date' type="date">
            </div>
            <h4>Товары</h4>
            <div id='orders_on_specific_products'>
                <div name="product_order" class="product_order">
                    <input type="text" name="product_type" list="available_types" placeholder="Tип" autocomplete="off">
                    <input type="text" name="number" placeholder="Количество" autocomplete="off"
                        onchange="addProductField(this.parentElement.parentElement, null, 1)">
                </div>

                <div name="product_order" class="product_order">
                    <input type="text" name="product_type" list="available_types" placeholder="Tип" autocomplete="off">
                    <input type="text" name="number" placeholder="Количество" autocomplete="off"
                        onchange="addProductField(this.parentElement.parentElement, null, 1)">
                </div>
            </div>


            <input class="action-button" type="submit" value="Добавить заказ">
            </form>

        </div>
    </div>
    <div class="hidden" name="toolbar" id="orders_toolbar">
        <form id="order_history" onsubmit="orderManager.showForPeriod(event)">
            <label for="from_date">Заказы от</label>
            <input type="date" name="from" id="from_date">
            <label for="to_date">до</label>
            <input type="date" name="to" id="to_date">
            <input class="tlb-btn" type="submit" value="Найти">
        <button class="tlb-btn" onclick="{this.parentElement.reset();orderManager.showForPeriod(event)}">Показать всё</button>
        </form>
        <span>История</span>
        <label class="switch">
        <input type="checkbox" id='is_history' onchange="orderManager.toggleOrders(event)">
            <span class="slider round"></span>
        </label>
    </div>
    
    <div class="hidden" name="toolbar" id="concrete_order_toolbar">
        <button id='edit_order_btn' class="tlb-btn order-button" onclick="concreteOrderManager.editOrder()">Изменить</button>
        <button id='complete_order_btn' class="tlb-btn order-button" onclick="concreteOrderManager.completeOrder()">Выполнить</button>
        <button id='delete_order_btn' class="tlb-btn order-button" onclick="concreteOrderManager.deleteOrder()">Удалить</button>
    </div>



    <div class="hidden" name="toolbar" id="order_edit_toolbar">
        <button id='edit_order_btn' class="tlb-btn order-button" onclick="orderEditor.saveModifiedOrder(event)">Сохранить всё</button>
        <button id='disable_editing_btn' class="tlb-btn order-button" onclick="concreteOrderManager.show()">Отменить</button>
    </div>
   
   
   
    <div class="output_section hidden" id="output_section">

   
    </div>
    <div class="output_section hidden" id="storage_output_section">

    </div>
    <div class="output_section hidden" id="product_output_area">

    </div>
    <div class="output_section hidden" id="product_in_order_area">

    </div>
    <div class="output_section hidden" id="order_output_area">

    </div>
    <div class="output_section hidden" id="editing_output_area">

    </div>


    </div>
</body>

</html>